.x {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.contact {
    display: grid;
    grid-gap: 10px;
}



input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #7c1f1f;
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
